
.resize-sm { font-size: 12px;}

.resize-md { font-size: 14px; }

.resize-lg { font-size: 16px; }

.animate {
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  -ms-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.resizer li { cursor: pointer; display:inline-block; color:#fff; float:left; color:#fff; padding:5px 0; }
.resizer li a { outline:none; border:none; color:#fff; margin:0 5px;}
.resizer a:visited { outline:none; border:none; text-decoration:none;}

.active { text-decoration: none; }

ul.topleftmenu{margin:0; padding:0; list-style: none;}
ul.topleftmenu li{color:#fff; padding:5px 0; float:left; display:inline-block; font-size:13px;}
ul.topleftmenu li a{color:#fff; margin:0 5px;}
