@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap);
h1 {
    font-size: 36px;
}

body {
    margin: 0;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 1.5rem
}

/*===top strip==*/

.top-strip {
    background-color: #f7f7f7;
    padding: 10px 0;
    box-shadow: 0 1px 3px rgb(0, 0, 0, .1);
}

ul.quick-nav {
    float: right;
    list-style-type: none;
}

ul.quick-nav>li {
    list-style-type: none;
    display: inline-block;
}

ul.quick-nav>li>a {
    color: #000000;
    padding: 0 3px;
    font-size: 14px;
}

ul.quick-nav>li>a:hover {
    color: #3674a4;
}

ul.quick-nav>li:last-child>a {
    padding-right: 0;
}

a.data-Now {
    color: #000;
}

/*===End top strip==*/

/*==center logo==*/

.logo-place {
    display: inline-block;
    padding: 0 30px;
}

.logo-label {
    display: inline-block;
    text-align: center;
}

.logo-place img {
    /* width: 70px; */
}

span.logo-right>img {
    width: 80px;
}

span.logo-left>img {
    width: 60px;
}

.logo-label>h1 {
    font-size: 28px;
    padding-top: 0px;
}

.logo-label h1 {
    margin-bottom: 0;
}

.logo-label h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.centerLogo {
    padding: 10px 0;
    box-shadow: 0 3px 6px rgba(0, 157, 222, .1);
    -moz-box-shadow: 0 3px 6px rgba(0, 157, 222, .1);
    -o-box-shadow: 0 3px 6px rgba(0, 157, 222, .1);
    -webkit-box-shadow: 0 3px 6px rgba(0, 157, 222, .1);
    -ms-box-shadow: 0 3px 6px rgba(0, 157, 222, .1);
}

/*==//center logo==*/

/* navigation bar */

a.eng-lang {
    background-color: #85c0ac;
    padding: 5px 10px!important;
    border-radius: 4px;
    text-align: center;
    color: #fff !important;
    border-bottom: 2px solid #3674a4;
    transition: all 300ms ease;
}

a.eng-lang:hover {
    background-color: #3674a4;
    border: none;
}

.navbar-nav li.nav-item a.nav-link {
    color: #042d4c;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
    padding: 0 20px
}

nav.navbar.navbar-expand-lg {
    padding: 0;
    background-color: #85c0ac;
}

a.navbar-brand>img {
    width: 110px;
}

a.navbar-brand {
    padding: 0;
    margin: 0
}

a.navbar-brand>h5 {
    margin: 0;
    padding: 0
}

/*end navigation bar*/

/* banner slider */

.banner-bg {
    height: 420px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.carousel-caption {
    position: absolute;
    right: unset;
    top: 50%;
    left: 50%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    bottom: unset
}


.carousel-caption>h3 {
    letter-spacing: 20px;
    transition: all .5s ease
}

.carousel-item.active .carousel-caption>h3 {
    font-size: 48px;
    letter-spacing: inherit
}

.carousel-caption>p {
    font-size: 0;
    transform: translateY(-60px)
}

.carousel-item.active .carousel-caption>p {
    font-size: 28px;
    transform: translateY(0)
}

/* //banner slider end */

/*==inner banner==*/

header.headbg {
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    padding: 0px 50px 20px 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
}

header.headbg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 10, 20, 0.6);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
    z-index: 1;
}

.headbg>div {
    position: relative;
    z-index: 9;
    top: 0;
}

.inner-pagebreadcrumb {
    top: 20px;
    position: relative;
}

.headbg .page-breadcrumb {
    color: #787878;
    font-size: 14px;
    padding: 10px 65px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 -50px 20px;
}

.headbg a {
    color: #fff;
    cursor: pointer;
}

.inner-pageheading {
    padding-top: 30px;
    position: relative;
}

.headbg h1, .headbg .h1 {
    color: #fff;
    font-weight: 400;
}

.headbg h1>span, .headbg .h1>span {
    color: #0099ff;
}

.headbg p {
    color: rgba(255, 255, 255, 0.7);
}

/* =====//inner bnaner end =======*/

.lni-facebook-filled:before {
    content: "\e970"
}

.lni-google-plus:before {
    content: "\e982"
}

.lni-linkedin-fill:before {
    content: "\e9ac"
}

.lni-twitter-filled:before {
    content: "\ea19"
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

a:focus, a:hover {
    text-decoration: none;
    outline: 0
}

.block-title {
    font-size: 16px;
    font-weight: 500;
    color: #0d5898;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative
}

/* homepage */

section.complain-wrapper {
    padding: 20px 0;
}

.title-heading>h1 {
    color: #3674A4;
    font-size: 32px;
    position: relative;
}

section.complain-wrapper {
    padding: 20px 0;
}

.title-heading>h1:after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #85c0ac;
    height: 2px;
    width: 140px;
    bottom: -15px;
}

.box-complaint a.complaint_link {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    padding: 30px 10px 15px;
    text-align: center;
    transition: all 300ms ease;
}

.box-complaint a.complaint_link:hover {
    background-color: #3674a4;
}

.box-complaint a.complaint_link:hover p {
    color: #fff;
}

span.complain-icon>img {
    display: block;
    width: 70px;
    margin: 0 auto;
}

p.complain-txt {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 20px;
    color: #282b2a;
    font-weight: 500;
}

a.complaint_link {
    display: block;
}

.values-insturctions {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.values-insturctions ul li {
    padding: 8px 0px;
    border-bottom: 1px dashed #3674a4;
    font-size: 16px;
    font-weight: 400;
    color: #2d2d2d;
}

.values-insturctions ul li:last-child {
    padding-bottom: 0;
    border: none;
}

span.val-txt {
    text-align: right;
    float: right;
    color: #3674a4;
    font-weight: 500;
}

/* instruction */

.instruction-wrapper {
    padding: 20px 0;
}

h2.sub-heading {
    font-size: 20px;
    color: #3674A4;
    font-weight: 500;
}

.title-heading b, strong {
    font-weight: bolder;
    color: #484848;
}

ul.instruction-points li {
    position: relative;
    font-size: 16px;
    color: #454545;
    list-style: none;
    padding: 5px 0px;
    text-align: left;
    padding-left: 35px;
}

ul.instruction-points li:before {
    background-position: center top;
    left: 0;
    position: absolute;
    background-image: url(../images/point.png);
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 15px;
    height: 14px;
    margin-right: 15px;
    margin-top: 5px;
}

/* copyright */

#copyright {
    background-color: #24699e;
    padding: 10px 0 10px;
    border-top: 1px solid #eaeaea;
    color: #454545
}

#copyright p {
    margin-bottom: 0;
    color: #fff;
}

#copyright p a {
    color: #454545
}

#copyright p a:hover {
    color: #0d5898
}

#copyright .nav-inline .nav-link {
    color: #ffffff;
    padding: 0px 0;
    margin-left: 10px;
    font-size: 14px
}

#copyright .nav-inline .nav-link:hover {
    color: #0d5898
}

/* end copyright */

.pt-0 {
    padding-top: 0px!important;
}

.pb-0 {
    padding-bottom: 0px!important;
}

.contact-wrap .h4 {
    font-weight: 400;
}

.contact-wrap .col-sm-4 {
    padding: 15px 5px;
    border-right: solid 1px #ababab;
}

.contact-wrap b.fa {
    padding-right: 4px;
}
.carousel-indicators {
    bottom: 20px;
}

.carousel-item.active #slideBoxLeft {
    transition: all 500ms ease;
    transition-delay: 1s;
}

.carousel-item.active #slideBoxRight {
    transition: all 500ms ease;
    transition-delay: 2s;
}

ul.carousel-indicators li {
    cursor: pointer;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}


/* login page */

.form-heading {
    padding: 10px;
    text-align: center;
    background-color: #24699e;
    color: #FFF;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}

.form-heading h3 {
    margin-bottom: 0;
}

.form-heading h3 {
    margin-bottom: 0;
    font-size: 22px;
}

.input-group-append {
    width: 40px;
    text-align: center;
}

.input-group-append>span {
    width: 40px;
    text-align: center;
}

.input-group-append>span>i {
    text-align: center;
    display: block;
}

span.input-group-text {
    padding: 0;
    text-align: center;
}

input.form-control.captcha_input {
    border-radius: 0 40px 40px 0;
    outline: none;
}

.frgt-pswd {
    background-color: #f1f1f1;
    margin-top: 10px;
    border-radius: 0 0 10px 10px;
}

.login_btn:hover {
    background-color: #24699e !important;
}

a.ml-2.register-nw-lnk {
    text-decoration: underline;
}

span.input-group-text {
    display: block;
    padding-top: 13px;
}

.form-grp-filed {
    padding: 0 25px;
}

.form-grp-filed .form-control {
    height: 45px;
    border-radius: 55px;
}

.login-wrapper {
    padding: 40px 0;
}

.user_card {
    height: auto;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 40px 20px; */
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 550px;
}
.user_card2 {
    height: auto;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 40px 20px; */
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 650px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.login_btn {
    background: #85c0ac !important;
    color: white !important;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-bottom: 2px solid #24699e;
    font-size: 20px;
    font-weight: 500;
    /* color: #fff !important; */
    transition: all 300ms ease;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #24699E !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #24699E !important;
}

.txt-area {
    border-radius: 10px !important;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn_cancel {
    background-color: #e4e4e4;
}


.remain input {
    background-color: #FFF;
    border: none;
    text-align: center;
}

.frm-btn-grp {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.frm-btn-grp li {
    display: inline-block;
    margin: 0 3px;
}

.btn_submit {
    background: #85c0ac !important;
    color: white !important;
    border-bottom: 2px solid #24699e;
    font-weight: 500;
    transition: all 300ms ease;
}

.btn_submit:hover {
    background: #24699e !important;
}

.btn_cancel:hover {
    background-color: #ddd;
}

.captcha p {
    font-size: 12px;
}

.form-grp-filed label {
    margin-bottom: 0;
}

.frgt-pswd a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#copyright .nav-inline .nav-link:hover {
    color: #FFF;
    text-decoration: underline;
}

.datatable .table-bordered td, .table-bordered th {
    border-bottom: 0 !important;
    font-size: 14px;
}

a.nav-link.active {
    border-bottom: 2px solid #24699e;
}
.radio.complaint-rdb > label:first-child {
    padding-right: 30px;
}
.radio.complaint-rdb > label {
    cursor: pointer;
}
.error {
    font-size: 12px;
    color: #ff3737;
}

/*==asidebar==*/

ul.aside-list>li>a {
    padding: 8px 20px;
    display: block;
    color: #454545;
    font-size: 16px;
    transition: all 500ms ease;
}

ul.aside-list>li {
    padding: 4px 0;
}

.aside {
    background-color: #f7f7f7;
    padding: 20px 0px 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

a.active-list {
    background-color: #85c0ac;
    color: #fff !important;
    border-radius: 25px 0 0 25px;
    margin-left: 0;
}

ul.aside-list>li>a:hover {
    background-color: #85c0ac;
    border-radius: 40px 0 0 40px;
    color: #fff !important;
}

label.control-label {
    font-weight: 400;
    color: #383838;
}


label.loginlable.control-label > img, .cptcha_img > img {
    height: 44px;
}

a.btn.btn-warning.no-shadow {
    display: inline-block;
    float: right;
    margin: 10px 0;
}

.alert.alert-error {
    background-color: #ffc5c5;
}

#sliderBox {
    position: relative;
    z-index: 4;
    padding: 40px 0;
}

.banner_img {
    background-color: rgba(255, 255, 255, .4);
    padding: 10px;
    border-radius: 10px;
}
/* //login page */

/* //complaint details page */

.complaint_details{border:1px solid #ddd;padding-top: 12px;padding-bottom: 12px;}
.col-md-6.reply_box {
    background-color: #eafdf6;
    margin: 5px 1%;
    float: left;
    width: 48%;
    max-width: 48%;
    padding: 3px 15px;
    border-radius: 12px;
}
.complaint_details .font-weight-bold {
    font-weight: 500 !important;
}
.reply_box label.col-md-4.col-form-label {
    font-weight: 500;
}
.complaint_details label.col-md-7.col-form-label, .reply_box  label.col-md-8.col-form-label {
    color: #555;
}

@media only screen and (max-width:1250px) {
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}

@media (max-width: 991px) {
	.col-md-6.reply_box {width: 98%;max-width: 98%;flex: 0 0 98%;}
}
/* //complaint details page */


@media (max-width: 991px) {
	.banner-bg {
        height: auto;
    }
    #sliderBox {
        padding: 40px 30px;
    }
    .container {
        max-width: 100%;
    }
    .logo-place {
        display: inline-block;
        padding: 0 10px;
    }
    .navbar-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: transparent;
    }
    .navbar-nav li.nav-item a.nav-link {
        line-height: 50px;
    }
    .navbar-header {
        border-bottom: 2px solid #fff;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .centerLogo {
        width: 100%;
        justify-content: space-between !important;
    }
}
@media (max-width: 767px) {
    #copyright .float-right {width: 100%;float: left;text-align: center;}
    .site-info p {text-align: center;margin-bottom: 5px !important;}
    #copyright ul.nav.nav-inline {text-align: center !important;justify-content: center;}
    .user_card2, .user_card2 {width: 95%;}


@media (max-width: 668px) {
    .logo-label>h1 {
        font-size: 20px;
    }
    .logo-label h3 {
        font-size: 18px;
    }
    .centerLogo {
        width: 100%;
        justify-content: space-between !important;
    }
}

@media (max-width: 568px) {
    span.logo-right>img {
        display: none;
    }
    .logo-label h3 {
        text-align: left;
    }
    span.logo-left>img {
        width: 40px;
        margin-right: 1em;
    }
    .centerLogo {
        justify-content: flex-start !important;
    }
    .logo-label>h1 {
        font-size: 18px;
        text-align: left;
    }
    .logo-label h3 {
        font-size: 16px;
    }
}